nav{
    position: fixed;
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: #696969;
}

.navList a {
    text-decoration: none;
    color: #fdf5d8;
    font-size: 20px;
    margin-right: 15px;
    line-height: 60px;
    float: left;
}

.navList img{
    padding: 0px 3px 3px 3px;
}

.navList .nama{
    font-size: 25px;
}

.navProfile {
    height: 60px;
    float: right;
}
.navProfile a {
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    margin: 10px;
    color: #fdf5d8;
}

section{
    margin: auto;
    text-align: center;
    padding: 0% 5%;
    background-color: #d3d3d3;
}

.content{
    padding-top: 20px;
    border-bottom: 1px solid;
}